.faq {
    &Question {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    &Answer {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;

        &.show {
            grid-template-rows: 1fr;
        }

        .content {
            overflow: hidden;
        }
    }

    &Group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: rgb(24, 24, 27);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-left: 30px;
        padding-right: 30px;
    }

    &Toggle {
        color: white;
        transition: transform 0.3s ease-out;
        font-size: 2rem;

        &.active {
            transform: rotate(45deg);
        }
    }
}